.tab-form-container {
    display: flex;
}

.tab-form {
    padding: 5px;
    border: 1px solid black;
    height: 20px;
    cursor: pointer;
}

.tab-form-component {
    display: flex;
    padding: 5px;
    height: 200px;
    border: 1px solid black;
    width: 300px;
}